@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  background-color: #f7fdfd;
  font-family: Poppins;
}
.contianer {
  max-width: 1450px;
  margin: auto;
  background-color: #f7fdfd;
}
.inside-secon input:focus {
  outline: none;
}
.mainWeb {
  display: flex;
  gap: 16px;
  flex-direction: row;
  margin-top: 20px;
}

