@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  background-color: #f7fdfd;
  font-family: Poppins;
}
.contianer {
  max-width: 1200px;
  margin: auto;
}
.inside-secon input:focus {
  outline: none;
}
.mainWeb {
  display: flex;
  gap: 16px;
  flex-direction: row;
  margin-top: 20px;
}
.firstLine {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}
.editProfile {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px #21868e1f;
}
.editProfile button {
  background-color: #3c97af;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  height: 40px;
  width: 300px;
  color: #ffffff;
}
.feedBack {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedBack h3 {
  font-size: 16px;
  font-weight: 700;
}
.feedBack p {
  color: #999999;
  font-size: 10px;
  font-weight: 400;
}
.about {
  background-color: #ffffff;
  box-shadow: 0px 2px 12px 0px #21868e14;
  padding: 10px 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 16px;
}
.about p {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}
.about-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secon-Line {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.inside-secon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 80px;
  padding: 10px 10px;
  box-shadow: 1px 2px 8px 0px #21868e1f;
  border-radius: 16px;
  background-color: #ffffff;
}
.inside-secon img {
  width: 60px;
  height: 60px;
}
.inside-secon input {
  height: 50px;
  width: 500px;
  background-color: #fafafa;
  background-image: url("/public/plus.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 450px;
  padding-left: 16px;
}
.right-Recent {
  display: flex;
  flex-direction: column;
}
.Posts {
  height: 400;
}
