.searchBar button {
  background-color: #ffffff;
  box-shadow: 1px 2px 8px 0px #21868e33;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}

.on {
  display: none;
}
.off {
  display: block;
}

.greenDot {
  background-color: #5a9bd8;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  position: absolute;
  right: 3px;
  top: 4px;
  display: block;
}
.noneG:focus {
  background-color: #ffffff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  position: absolute;
  right: 3px;
  top: 4px;
  display: block;
}

inside-secon input:focus {
  outline: none;
}
.father {
  position: relative;
}
.main-noti {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 1px 2px 8px 0px #21868e40;
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;
  right: 14px;
  top: 50px;
  display: none;
}
.textNot {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.textNot h2 {
  font-size: 32px;
  font-weight: 700;
}
.textNot p {
  font-size: 16px;
  font-weight: 400;
}
.cardPerson {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 500px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.cardPerson h5 {
  font-size: 18px;
  font-weight: 500;
}
.currnt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skyDot {
  background-color: #c1d9f0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.weeek {
  padding-top: 20px;
}
.weeek p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}
.cardPersonWeek {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 500px;
  padding: 10px 10px;
}
.nameNot {
  color: #3c97af;
}
.timeNot {
  color: #999999;
}
