main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px 12px;
  width: 100%;
}
.one-line1 {
  width: 196px;
  height: 6px;
  border-radius: 8px;
  background-color: #3c97af;
}
.two-line1 {
  width: 196px;
  height: 6px;
  border-radius: 8px;
  background-color: #3c97af;
}
.three-line1 {
  width: 196px;
  height: 6px;
  border-radius: 8px;
  background-color: #ebebeb;
}
.lines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.info p {
  color: #999999;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
}
.otpinput {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.otpinput {
  display: flex;
  gap: 10px;
}

.insideotp {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.insideotp input {
  padding: 4px 16px;
  width: 100%;
  color: #3c97af;
}
.insideotp input:focus {
  background-color: #ecf6f9;
  outline: none;
  border: 1px solid #3c97af;
}
.insideotp input:not(:placeholder-shown) {
  background-color: #ecf6f9;
  outline: none;
  border: 1px solid #3c97af;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.counter p {
  color: #3c97af;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
}

.resend {
  color: #afb1b6;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
}

.resend span {
  cursor: pointer;
}
.chy {
  color: #3c97af;
}
.chn {
  color: #afcde7;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}
.next2 {
  display: flex;
  width: 100%;
  gap: 16px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  border: none;
  background-color: #ebebeb;
  height: 40px;
  font-size: 16px;
  font-family: Exo;
  color: #999999;
}

.none1 {
  background-color: #3c97af;
  cursor: pointer;
  color: #ffffff;
}
.block1 {
  display: flex;
  align-items: center;
  cursor: not-allowed;
  background-color: #ebebeb;
}
.verfiyBtn {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: none;
  background-color: #ebebeb;
}
@media (max-width:635px){
  .one-line1 {
    width: 100px;
    height: 6px;
    border-radius: 8px;
    background-color: #3c97af;
  }
  .two-line1 {
    width: 100px;
    height: 6px;
    border-radius: 8px;
    background-color: #3c97af;
  }
  .three-line1 {
    width: 100px;
    height: 6px;
    border-radius: 8px;
    background-color: #ebebeb;
  }

}
@media (max-width:340px){
  .one-line1 {
    width: 60px;
  }
  .two-line1 {
    width: 60px;
  
  }
  .three-line1 {
    width: 60px;
   
  }
  .insideotp input {
    padding: 4px 20px;
  }
  }