main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px 12px;
  width: 100%;
}

.one-line2 {
  width: 196px;
  height: 6px;
  border-radius: 8px;
  background-color: #3c97af;
}
.two-line2 {
  width: 50%;
  height: 6px;
  border-radius: 8px;
  background-color: #3c97af;
}
.flex {
  display: flex;
  height: 6px;
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
  width: 196px;
  border-radius: 8px;
}
.inside2 {
  width: 50%;
  background-color: #ebebeb;
  border-radius: 8px;
  height: 6px;
}
.three-line2 {
  width: 196px;
  height: 6px;
  border-radius: 8px;
  background-color: #ebebeb;
}
.lines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  padding: 0px 12px;
}
.EnterNumber {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  font-family: Poppins;
}
.text h1 {
  color: black;
  font-size: 40px;
  font-weight: 700;
}
.text p {
  color: #999999;
  font-size: 18px;
  font-weight: 400;
}
.insideOpt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ebebeb;
  height: 38px;
  padding: 0px 4px;
  border-radius: 8px;
}
.insideOpt p {
  font-weight: 400;
  font-family: Poppins;
  size: 14px;
}
.phoneNumber {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 12px;
}
.VeriactionBox {
  padding: 0px 8px;
  height: 38px;
  border: none;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  width: 100%;
}


.inputNumber {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 0px 12px;
}
.insideOpt img {
  display: block;
}

.inputNumber input:focus {
  outline: none;
  border: 1px solid #3c97af;
}

.inputNumber select:focus {
  outline: none;
  border: 1px solid #3c97af;
}
.next1 {
  display: flex;
  width: 100%;
  gap: 16px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  border: none;
  background-color: #ebebeb;
  margin-top: 100px;
  height: 40px;
  font-size: 16px;
  font-family: Exo;
  color: #999999;
}

.none {
  cursor: not-allowed;
  background-color: #ebebeb;
}
.block {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #3c97af;
  color: #ffffff;
}
@media (max-width: 950px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text {
    text-align: left;
  }
  .one-line2 {
    width: 140px;
  }
  .flex {
    width: 140px;
  }
  .three-line2 {
    width: 140px;
  }
}
@media (max-width: 458px) {
  .one-line2 {
    width: 100px;
  }
  .flex {
    width: 100px;
  }
  .three-line2 {
    width: 100px;
  }
}
@media (max-width: 325px) {
  .one-line2 {
    width: 60px;
  }
  .flex {
    width: 60px;
  }
  .three-line2 {
    width: 60px;
  }
}
